<!-- Start Footer Area -->
<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <a href="index.html"><img height="50" width="50" src="{{apiLink + '/banner/logo-2.png'}}" alt="#"></a>
            </div>
            <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est id nihil sunt sapiente?
              Tenetur expedita voluptatum dignissimos ratione, totam nihil laborum molestiae perspiciatis eum? Accusamus
              dicta similique quas quia repudiandae!</p>
            <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+88-02-9889820</a></span></p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Information</h4>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#">Payment Methods</a></li>
              <li><a href="#">Money-back</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4>Get In Tuch</h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li>House-7, Road-2/C, Block-J, Baridhara</li>
                <li>Dhaka-1212, Bangladesh</li>
                <li>info@bjitgroup.com</li>
                <li>+88-02-9889820</li>
              </ul>
            </div>
            <!-- End Single Widget -->
            <ul>
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter"></i></a></li>
              <li><a href="#"><i class="ti-flickr"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2020 <a href="http://www.bjitgroup.com" target="_blank">BJIT Ltd</a> - All Rights Reserved.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="right">
              <img height="50" width="50" src="{{apiLink + '/banner/menu_logo_white.png'}}" alt="#">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>